/**************ALL PAGE****************/

:root {
  --primary-white: #fff;
}

body {
  font-family: 'Exo 2', sans-serif;

}

/**************NAVBAR****************/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--primary-white) !important;
}

.navbar-nav > li > a {
  margin-right: .075rem;
  margin-left: .075rem;
  color: var(--primary-white) !important;
}

/**************HEADER****************/
.header-wraper {
  position: relative;
  background: url("img/fieldimg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Sansita Swashed", cursive;
}

