/**************ALL PAGE****************/

:root {
  --primary-white: #ffffff;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-black: #000000;


}

body {
  font-family: 'Exo 2', sans-serif !important;

}

/**************NAVBAR****************/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--primary-white) !important;
}

.navbar-nav > li > a {
  margin-right: .075rem;
  margin-left: .075rem;
  color: var(--primary-white) !important;
}

/**************HEADER****************/
.header-wrapper {
  position: relative;
  background: url("img/fieldimg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Sansita Swashed", cursive;
  font-size: x-large;
}

.skull {
  height: 300px;
  width: 300px;
}

.main-info h1 {
  font-size: 3.5rem;
}

/**************ABOUT ME****************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid
}

.about-heading {
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}

/**************EXPERIENCE****************/
.experience {
  padding: 0.7rem;
  background: var(--primary-dark-grey);
}

.experience-wrapper {
  
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: rgb(206, 188, 129);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--primary-black);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-black);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-black);
  font-weight: 900;
}

/**************PROJECTS****************/
.project-wrapper {
  
  background: url("img/wood_texture.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  
}

.project-image {
  width: 15rem;
  height: 8rem;
  border: 1px solid;
  padding: 0 0.5rem;
}

.project-image-box {
  position: relative;
  margin: 1rem;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid red;
  cursor: pointer;
}

.project-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.project-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: rgb(206, 188, 129);
  font-size: 1.5rem;
}

.project-image-box:hover .project-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper {
  margin-top: 7rem;

}

/**************POPUP BOX****************/
.project-image-popupbox {
  width: 45rem;
  /* height: 30rem; */
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer;
  color: orange;
}

.hyper-link:hover {
  color: red;
}

@media(max-width: 768px) {
  .project-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 600px) {
  .popupbox-wrapper {
    height: 100% !important;

  }
  .project-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 80% !important;

  }
  .project-image-popupbox {
    width: 30%;
  }
}

/**************CONTACT****************/
.contacts {
  /* background: var(--primary-grey); */
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-black);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  font-size: 1.2rem;
}

/**************INPUT****************/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: orange;
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 i !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: rgb(206, 188, 129);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  /* background: none; */
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: rgb(231, 197, 86);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: white;
  background: rgb(247, 90, 90);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: rgb(57, 146, 57);

}

@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 1rem;
  }
}

/**************FOOTER****************/
.footer {
  /* background: var(--primary-dark-grey); */
  color: var(--primary-grey);
  padding: 3rem;
}

.footer p {
  margin: 1rem;
  /* padding: 1rem; */
  font-size: 1.5rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-grey);
}

.footer a:hover {
  text-decoration: none;
  color: rgb(231, 197, 86);
  cursor: pointer;
}

.copyright {
  margin: 1rem;
  /* padding: 1rem; */
}

.icon  {
  margin: 1rem;
  /* padding: 1rem; */
}




