/**************ALL PAGE****************/

:root {
  --primary-white: #fff;
}

body {
  font-family: 'Exo 2', sans-serif;

}

/**************NAVBAR****************/

nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-brand {
  color: var(--primary-white) !important;
}

.navbar-nav > li > a {
  margin-right: .075rem;
  margin-left: .075rem;
  color: var(--primary-white) !important;
}